name: Basic Pipeline with Needs

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Setup step
        run: echo "Starting pipeline..."

  build:
    needs: setup
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4


    

